body {
  background-color: #fefae0;
  color: #6a994e;
}

textarea{
  background-color: #202020;
  color: #a7c957;
  font-family: monospace;
  font-size: large;
  padding-left: 20px;
  padding-top: 10px;
}

button{
  background-color: #31572c;
  color: #faedcd;
  border-radius: 10px;
  border: none;
}

h1{
  display: flex;
  justify-content: center;
}

input[type="file"]::file-selector-button{
  background-color: #31572c;
  color: #faedcd;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

pre{
  background-color: #202020;
  color: #a7c957;
  font-family: monospace;
  padding: 1rem; overflow: auto;
  border-radius: 10px;
}
table { 
  border-collapse: 
  collapse; margin: 1rem 0; 
}
th, td { 
  border: 1px solid #31572c; padding: 8px;
}
th{
  background-color: #31572c;
  color: #faedcd;
}